@tailwind base;
@tailwind components;
@tailwind utilities;


a {
  text-decoration: none !important;
  color: #3182ce;
}
a:hover {
  color: #8abcf8;
}

main {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

* {
    transition: all 0.3s ease;
  --sb-track-color: #2d2d2d;
  --sb-thumb-color: #3d3d3d;
  --sb-size: 12px;
}

::-webkit-scrollbar {
  width: var(--sb-size)
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
  
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

html {
  overflow: hidden;
}

iframe {
  border-radius: 1em;
}

.dashboard {
  opacity: 0;
}

.dark .leaflet-layer,
.dark .leaflet-control-zoom-in,
.dark .leaflet-control-zoom-out {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}
.leaflet-control-attribution {
  display: none;
}